Global font
body {
  font-family: "Poppins", sans-serif;
}

/* Page background */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./frontImage.jpg") no-repeat center center/cover;
  position: relative;
}

.auth-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3); /* adjust darkness */
}

/* Form box */
.auth-box {
  width: 380px;
  padding: 30px;
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.15); /* transparent */
  backdrop-filter: blur(10px); /* glass blur effect */
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  gap: 18px;

  position: relative; /* important because of overlay */
  z-index: 1;
}


/* Title */
.auth-box h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #2d2d2d;
  font-weight: 600;
}

/* Inputs */
.auth-box input {
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;

  background: rgba(245, 214, 214, 0.3);
  color: white;
}

.auth-box input::placeholder {
  color: black;
}


/* Button */
.auth-box button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  background: #7c3aed;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.auth-box button:hover {
  background: #5b21b6;
}

/* Error text */
.error-text {
  color: #e53e3e;
  font-size: 14px;
  text-align: center;
}

/* Footer */
.auth-footer {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}

.auth-footer span {
  color: #667eea;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.auth-footer span:hover {
  text-decoration: underline;
}
