.app-layout {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: #ffffff;
  padding: 25px 20px;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 40px;
  color: black;
}

/* Profile Section */
.profile {
  text-align: center;
  margin-bottom: 35px;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.profile-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #4f46e5;
}

.upload-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #4f46e5;
  color: white;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

.upload-btn:hover {
  background: #3730a3;
}

.profile h4 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

/* Menu */
.menu {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.menu li {
  padding: 12px 14px;
  margin-bottom: 5px;
  border-radius: 8px;
  font-weight: 500;
  display: flex;
  gap: 12px;
}
.menu img{
  color: Black;
}
.menu a {
  text-decoration: none;
  color: #374151;
  width: 100%;
  padding: 5px;
  display: block;
}

.menu a.active {
  background: #eef2ff;
  height: 25px;
  border-radius: 10px;
  color: #4f46e5;
  font-weight: 600;
}

.menu li:hover {
  background: #eef2ff;
}

.logout {
  color: #dc2626;
  margin-top: 10px;
  cursor: pointer;
}

/* Main content */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
